{% extends "base.html" %}

{% block title %}{{ category }} — {{ SITENAME }}{% endblock %}
{% block description %}All posts which refer to category {{ category }}.{% endblock %}

{% block content %}
    <h1>Category <b>{{category}}</b></h1>
    <table class="table">
        <tbody>
            {% for article in articles %}
                <tr>
                    <td>{{ article.date.strftime("%d %b %Y") }}</td>
                    <td><a href='{{ SITEURL }}/{{ article.url }}'>{{ article.title }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
